---
import { get, post } from '../scripts/request.js'
import Clock from '../components/Clock.astro'
import '../styles/global.css'
import Layout from '../layouts/Layout.astro'
const gameKey = Astro.url.searchParams.get('gameKey')

const gameResponse = await get('/games', [gameKey])
const game = gameResponse.data
const teams = game.teams.sort((a, b) => b.score - a.score)
---

<Layout>
	<h1 class="my-10 text-center text-3xl font-black">The Snitch is Caught!</h1>
	<h2 class="mb-5 text-center text-xl font-bold">{teams[0].name} wins!</h2>
	<p class="mb-5 text-center text-lg font-bold">{teams[0].score} - {teams[1].score}</p>
	<p class="mb-2 text-center text-sm font-semibold">
		Nice try {teams[1].name}, but {teams[0].name} was just too good!
	</p>
	<p class="mb-10 text-center text-sm font-semibold">Thanks for playing QuidditchTrip!</p>
	<div class="mx-auto flex justify-center">
		<a href="/" class="mx-auto mt-4 rounded bg-black px-4 py-2 text-white hover:bg-gray-900"
			>Go Home</a
		>
	</div>
</Layout>
